.footer {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    color: #7A4495;
    margin: 15px 5px;

    &__ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 10px;
        font-weight: bolder;
        padding: 0;

        h2 {
            margin: 10px;
            font-size: 35px;
            font-weight: bolder;
        }

        a {
            text-decoration: none;
            background-color: #FCE2DB;
            color: #7A4495;
            font-size: 25px;
            padding: 10px;
            margin: 15px;
            border-radius: 10px;
            border: none;

            &:hover {
                text-decoration: none;
                font-size: 27px;
                background-color: #7A4495;
                color: #FCE2DB;
            }
        }
    }

    &__parrafos {
        display: flex;
        flex-flow: column wrap;
        font-weight: bolder;

        p {
            @extend %estiloparrafo;
        }
    }
}