.main {
    display: flex;
    flex-direction: column;

    &__card {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin: 15px 5px;
        padding: 10px;
    }

    &__img {
        width: 400px;
        margin: 10px;
        border-radius: 30px;
    }

    &__titulo {
        display: flex;
        flex-direction: column;
        h1 {
            text-align: center;
            padding: 15px;
            color: #7A4495;
            font-size: 50px;
            font-weight: bolder;
            margin: 15px 5px;
        }
        p {
            text-align: center;
            padding: 15px;
            color: #7A4495;
            font-size: 40px;
            font-weight: bolder;
            margin: 15px 5px;
        }
    }

    &__videos {
        display: flex;
        flex-direction: column;

        &__titulo {
            text-align: center;
            padding: 15px;
            color: #7A4495;
            font-size: 30px;
            font-weight: bolder;
            margin: 15px 5px;
        }

        &__iframe {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
        }
    }
}